@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Old+Mincho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body, html {
    overflow-x: hidden; 
    overflow-y: hidden; 
    height: 100%;
}

/* Círculos difuminados en el fondo */
body::before, body::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -100;
}

/* Círculo 1 */
body::before {
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #593D2B 0%, #593D2B 20%, rgba(89, 61, 43, 0.3) 60%, transparent 70%);
    top: 1%;
    left: -4%;
}

/* Círculo 2 */
body::after {
    width: 550px;
    height: 550px;
    background: radial-gradient(circle, #593D2B 0%, #593D2B 20%, rgba(89, 61, 43, 0.3) 60%, transparent 70%);
    top: 60%;
    left: 70%;
}



/* Círculos adicionales */
.circle-3, .circle-4, .circle-5, .circle-6 {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -100;
}

/* Círculo 3 */
.circle-3 {
    width: 700px;
    height: 700px;
    background: radial-gradient(circle, #56AA1C 0%, #56AA1C 20%, rgba(86, 170, 28, 0.3) 60%, transparent 70%);
    top: 40%;
    left: 15%;
}

/* Círculo 4 */
.circle-4 {
    width: 700px;
    height: 700px;
    background: radial-gradient(circle, #56AA1C 0%, #56AA1C 20%, rgba(86, 170, 28, 0.3) 60%, transparent 70%);
    top: 5%;
    left: 70%;
}

/* Círculo 5 */
.circle-5 {
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #F9D616 0%, #F9D616 25%, rgba(249, 214, 22, 0.3) 50%, transparent 75%);
    top: 50%;
    left: 45%;
}

/* Círculo 6 */
.circle-6 {
    width: 900px;
    height: 900px;
    background: radial-gradient(circle, #F9D616 0%, #F9D616 1%, rgba(249, 214, 22, 0.3) 50%, transparent 75%);
    top: -20%;
    left: 25%;
}

/* Imágenes de fondo */
body .image-top-left, body .image-bottom-right {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Imagen en la esquina superior izquierda */
body .image-top-left {
    width: 300px;
    height: 300px;
    background-image: url('orskark_portfolio_assets/paper2.png');
    top: 0;
    left: 0;
}

/* Imagen en la esquina inferior derecha */
body .image-bottom-right {
    width: 300px;
    height: 300px;
    background-image: url('orskark_portfolio_assets/paper2.png');
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* Navbar */
.navbar {
    padding: 10px;
}

/* Estilo general para los enlaces */
.navbar .nav-link {
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px; 
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #000; 
}

/* Efecto hover */
.navbar .nav-link:hover {
    color: #BC002D; 
}


.navbar .nav-link.active {
    font-weight: bold;
    color: #BC002D; /* Color del enlace activo */
    border-bottom: 2px solid #BC002D; /* Línea debajo del enlace activo */
}


.navbar .nav-link:last-child {
    margin-right: 0;
}


.logo {
    max-height: auto;
    width: auto;
}


.navbar .navbar-left,
.navbar .navbar-right {
    display: flex;
    align-items: center;
}

/* Hero Section */
.hero-link {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease; 
}

.hero-link:hover {
    color: #BC002D; 
    border-bottom: 2px solid #BC002D; 
}

.left-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

/* Estilo de la imagen */
.paper_hero_top1 {
    position: absolute;
    top: -11%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -80;
}

.paper_hero_bottom {
    position: absolute; 
    bottom: -66%; 
    right: 0; 
    width: auto; 
    height: auto;
    z-index: -80;
}

.hero-image {
    position: absolute;
    bottom: -66%;
    right: 0%;
    width: 650px;
    height: auto;
    z-index: 1;
}

/* Columna de la derecha (Texto) */
.col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Estilo para los encabezados */
.hero-title, .hero-title1 {
    font-size: 140px;
    margin: 0.5rem 0;
    text-align: left;
    z-index: 1;
}

/* Estilo para el texto principal */
.hero-text {
    font-size: 60px;
    margin-top: 0rem;
    text-align: left;
    z-index: 1;
}

.highlight {
    color: #BC002D;
}

.stars_hero img {
    position: absolute;
    width: 70px;
    height: auto;
    z-index: -70;
}

.star_hero_bg1 {
    top: 40%;
    left: 4%;
}

.star_hero_bg2 {
    top: 22%;
    left: 16%;
}

.star_hero_bg3 {
    top: 10%;
    left: 30%;
}

.star_hero_bg4 {
    top: 3%;
    left: 48%;
}

.star_hero_bg5 {
    top: -9%;
    left: 65%;
}


.stars_hero_right img {
    position: absolute;
    width: 70px; 
    height: auto;
    z-index: -70;
}

/* Posicionamiento de las estrellas individuales en la parte inferior derecha */
.star_hero_right_1 {
    bottom: -50%;
    right: 22%; 
}

.star_hero_right_2 {
    bottom: -45%;
    right: 13%;
}

.star_hero_right_3 {
    bottom: -20%;
    right: 1%;
}

.star_hero_right_4 {
    bottom: -60%;
    right: 30%;
}

.star_hero_right_5 {
    bottom: -36%;
    right: 6%;
}




/* About Section */
#about {
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
}

/* Imagen */
.left-img {
    position: relative;
    max-width: 100%;
    height: 700px;
    width: 200px;
    top: 10%;
    left: 8%;
    transform: scaleX(-1);
    filter: drop-shadow(5px 5px 0px #BC002D);
}

/* Imagen de la derecha */
.right-img {
    position: absolute;
    bottom: -26%;
    right: 0.5%;
    width: auto;
    max-height: 100%;
}

/* Contenedor de las estrellas dentro de la columna derecha */
.right-column .stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

/* Estilo general para las estrellas */
.star {
    position: absolute;
    width: 150px;
    height: 150px;
}

/* Posiciones específicas de las estrellas */
.star-1 {
    top: 15%;
    left: 40%;
}

.star-2 {
    top: 70%;
    left: 41%;
}

.star-3 {
    top: 40%;
    left: 48%;
}

.star-4 {
    top: 8%;
    left: 58%;
}

.star-5 {
    top: 4%;
    left: 78%;
}

.star-6 {
    top: 34%;
    left: 86.5%;
}

/* Contenedor para el texto centrado */
.right-column .text-center {
    position: absolute;
    top: 45%;
    left: 6%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
}

/* Estilo del título */
.right-column .text-center h2 {
    font-size: 8rem;
    font-weight: bold;
    color: #BC002D;
}

/* Estilo del párrafo */
.right-column .text-center p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #000;
    max-width: 60%;
    margin: 0 auto;
}

.right-column .text-center li {
    padding-top: 50px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #000;
    max-width: 60%;
    margin: 0 auto;
}

.left-column .paper_about{
    position: absolute;
    top: 82%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.stars-bg-about {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    pointer-events: none;
}

.stars-bg-about img {
    position: absolute; 
    width: 50px; 
    height: auto;
}

.star_bg1 {
    top: 73%;
    left: 4%;
}

.star_bg2 {
    top: 82%;
    left: 38%;
}

.star_bg3 {
    top: 85%;
    left: 50%;
}

.star_bg4 {
    top: 88%;
    left: 62%;
}

.star_bg5 {
    top: 91%;
    left: 75%;
}

.star_bg6 {
    top: 92%;
    left: 90%;
}

.star_bg7 {
    top: 95%;
    left: 102%;
}

.star_bg8 {
    top: 103%;
    left: 112%;
}

.star_bg9 {
    top: 105%;
    left: 122%;
}

/* Professional Profile Section */

/* Estilo para el contenedor de la imagen */
.img_pro_profile {
    position: absolute;
    top: 50%; 
    right: 20%;
    transform: translateY(3.5%);
    z-index: 2;
}

/* Estilo para la imagen */
.pro_prof_pic {
    height: 680px; 
    width: auto; 
    z-index: 2;
}

body, html {
    height: 100%;
    margin: 0;
}

/* Imagen de fondo en la parte inferior */
#footer_image {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

/* Estilo de la imagen que actúa como el fondo */
.footer_img {
    width: 1800px;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: -175%; 
    left: 7%;
    z-index: 1;
}

.pro_prof_title {
    position: absolute;
    font-size: 100px;
    text-align: center;
    z-index: 2;
    left: 20%;
    top: 0%;
}

.star_pro_prof {
    position: absolute;
    top: 150px; 
    right: 34%; 
    z-index: -5;
}

.star_pro_proff{
    width: 400px;
    height: 400px;
}

.circles_pro_prof {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

/* Posición individual de cada elipse */
.Ellipse_pro_proff1 {
    position: absolute;
    top: 300px;
    left: 5%;
    width: 450px;
    height: 450px;
}

.Ellipse_pro_proff2 {
    position: absolute;
    top: 300px;
    left: 62%;
    width: 450px;
    height: 450px;
}

.Ellipse_pro_proff3 {
    position: absolute;
    top: 50px;
    left: 5%;
    width: 450px;
    height: 450px;
}

.Ellipse_pro_proff4 {
    position: absolute;
    top: 50px;
    left: 62%;
    width: 450px;
    height: 450px;
}

/* Texto sobre las elipses */
.text_over_ellipse1, .text_over_ellipse2, .text_over_ellipse3, .text_over_ellipse4 {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    z-index: 3;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text_over_ellipse1 {
    top: 245px; 
    left: 15%; 
}

.text_over_ellipse2 {
    top: 245px;
    left: 70.5%;
}

.text_over_ellipse3 {
    top: 507px; 
    left: 13%; 
}

.text_over_ellipse4 {
    top: 500px;
    left: 69%; 
}

/* Texto sobre la estrella */
.text_over_star {
    position: absolute;
    font-weight: 600;
    top: 55%; 
    right: 7%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000;
    z-index: 3; 
    text-align: center;
}

.paper_pro_prof_top1 {
    position: absolute;
    top: -11%;
    left: 0;
    width: 40%;
    height: auto;
    z-index: -80;
}

/* Contenedor para las estrellas */
.stars_above_image {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.stars_above_image img {
    position: absolute;
    width: 40px; 
    height: auto;
    z-index: 0;
}

.star_above_1 {
    top: 720px; 
    left: -1250px;
}

.star_above_2 {
    top: 710px;
    left: -1200px;
}

.star_above_3 {
    top: 695px;
    left: -1150px;
}

.star_above_4 {
    top: 685px;
    left: -1098px;
}

.star_above_5 {
    top: 710px;
    left: -1050px;
}
.star_above_6 {
    top: 685px; 
    left: -1000px;
}

.star_above_7 {
    top: 670px;
    left: -950px;
}

.star_above_8 {
    top: 650px;
    left: -900px;
}

.star_above_9 {
    top: 640px;
    left: -850px;
}

.star_above_10 {
    top: 630px;
    left: -800px;
}
.star_above_11 {
    top: 640px;
    left: -740px;
}
.star_above_12 {
    top: 660px;
    left: -690px;
}
.star_above_13 {
    top: 640px;
    left: -640px;
}
.star_above_14 {
    top: 610px;
    left: -590px;
}
.star_above_15 {
    top: 590px;
    left: -540px;
}
.star_above_16 {
    top: 570px;
    left: -490px;
}
.star_above_17 {
    top: 550px;
    left: -440px;
}
.star_above_18 {
    top: 540px;
    left: -385px;
}
.star_above_19 {
    top: 535px;
    left: -330px;
}
.star_above_20 {
    top: 530px;
    left: -275px;
}
.star_above_21 {
    top: 525px;
    left: -220px;
}
.star_above_22 {
    top: 500px;
    left: -170px;
}
.star_above_23 {
    top: 470px;
    left: -120px;
}
.star_above_24 {
    top: 440px;
    left: -70px;
}
.star_above_25 {
    top: 410px;
    left: 130px;
}
.star_above_26 {
    top: 395px;
    left: 180px;
}
.star_above_27 {
    top: 390px;
    left: 230px;
}

.star_above_28 {
    top: 390px;
    left: 280px;
}

.star_above_29 {
    top: 420px;
    left: 80px;
}
.star_above_30 {
    top: 435px;
    left: 30px;
}
.star_above_31 {
    top: 435px;
    left: -20px;
}


/* Skills Section */

.skills_title{
    position: absolute;
    font-size: 100px;
    text-align: center;
    z-index: 2;
    left: 65%;
    top: 0%;
}


.paper_skills_top1{
    position: absolute;
    top: -11%;
    left: 0;
    width: 40%;
    height: auto;
    z-index: -80;
}

.circles_skills{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.Ellipse_Skills1{
    position: absolute;
    top: 50px; 
    left: 3%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills2{
    position: absolute;
    top: 50px; 
    left: 30%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills3{
    position: absolute;
    top: 50px; 
    left: 60%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills4{
    position: absolute;
    top: 300px; 
    left: 3%;
    width: 450px;
    height: 450px;
}
.Ellipse_Skills5{
    position: absolute;
    top: 300px; 
    left: 30%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills6{
    position: absolute;
    top: 300px; 
    left: 60%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills7{
    position: absolute;
    top: 50px; 
    left: 90%; 
    width: 450px;
    height: 450px;
}
.Ellipse_Skills8{
    position: absolute;
    top: 50px; 
    left: 120%;
    width: 450px;
    height: 450px;
}

.logos_skills{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 0;
}

.logo_skills1{
    position: absolute;
    top: 220px; 
    left: 17%; 
    width: 90px;
    height: 90px;
}
.logo_skills2{
    position: absolute; 
    top: 220px; 
    left: 43.5%; 
    width: 90px; 
    height: 90px;
}
.logo_skills3{
    position: absolute;
    top: 220px; 
    left: 73%; 
    width: 90px;
    height: 90px;
}
.logo_skills4{
    position: absolute;
    top: 220px; 
    left: 103%; 
    width: 90px;
    height: 90px;
}
.logo_skills5{
    position: absolute;
    top: 220px; 
    left: 133%; 
    width: 90px;
    height: 90px;
}
.logo_skills6{
    position: absolute;
    top: 480px; 
    left: 17%; 
    width: 90px;
    height: 90px;
}
.logo_skills7{
    position: absolute;
    top: 480px; 
    left: 43.5%; 
    width: 90px; 
    height: 90px;
}
.logo_skills8{
    position: absolute;
    top: 480px; 
    left: 73%; 
    width: 90px;
    height: 90px; 
}
.skills_textbox{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 40;
}
.skills_textbox1{
    position: absolute;
    top: 340px; 
    left: -27%; 
    width: 750px;
    height: 430px;
}
.text_over_textbox{
    position: absolute;
    font-weight: 1000;
    top: 550px; 
    right: -9%; 
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #000;
    z-index: 42; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(246, 230, 10, 0.8);
}

/* PROJECTS SECTION */

.projects_title{
    position: absolute;
    font-size: 100px;
    text-align: center;
    z-index: 2;
    left: 60%;
    top: 0%;
}

.ellipse_projects{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -5;
}

.ellipse_projects1{
    position: absolute;
    top: 10px; 
    left: 30%; 
    width: 650px;
    height: 650px;
}

.ellipse_projects2{
    position: absolute;
    top: 10px; 
    left: 70%; 
    width: 650px;
    height: 650px;
}
.projects_logos{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 0;
}
.projects_logos1{
    position: absolute; 
    top: 250px; 
    left: 49%; 
    width: 150px;
    height: 150px;
}
.projects_logos2{
    position: absolute; 
    top: 250px; 
    left: 88%; 
    width: 150px;
    height: 150px;
}
.projects_textbox{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 1;
}
.projects_textbox1{
    position: absolute; 
    top: 400px; 
    left: 47%; 
    width: 200px;
    height: 100px;
}

.projects_textbox2{
    position: absolute;
    top: 400px; 
    left: 86%; 
    width: 200px;
    height: 100px;
}
.text_over_textbox_projects1{
    position: absolute;
    font-weight: 1000;
    top: 450px; 
    right: -1.5%;
    transform: translate(-50%, -50%);
    font-size: 13px; 
    color: #000;
    z-index: 42; 
    text-align: center;
    text-shadow: 2px 2px 4px #BC002D;
}
.text_over_textbox_projects2{
    position: absolute;
    font-weight: 1000;
    top: 450px; 
    right: 35%; 
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #000;
    z-index: 42; 
    text-align: center;
    text-shadow: 2px 2px 4px #BC002D;
}

/* CONTACT SECTION */
.contact_title{
    position: absolute;
    font-size: 200px;
    text-align: center;
    z-index: 2;
    left: 85%;
    top: 0%;
    text-shadow: 2px 2px 4px rgba(246, 230, 10, 0.8);
}
.paper_contact_top1{
    position: absolute;
    top: -11%;
    left: 0;
    width: 40%;
    height: auto;
    z-index: -80;
}
.ellipse_contact{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -5;
}
.ellipse_contact1{
    position: absolute; 
    top: -5px; 
    left: 0%; 
    width: 500px;
    height: 500px;
}
.ellipse_contact2{
    position: absolute;
    top: -5px; 
    left: 25%; 
    width: 500px;
    height: 500px;
}
.ellipse_contact3{
    position: absolute;
    top: -5px; 
    left: 50%; 
    width: 500px; 
    height: 500px;
}
.ellipse_contact4{
    position: absolute;
    top: 280px; 
    left: 0%; 
    width: 500px;
    height: 500px;
}
.ellipse_contact5{
    position: absolute;
    top: 280px; 
    left: 25%; 
    width: 500px;
    height: 500px;
}
.ellipse_contact6{
    position: absolute;
    top: 280px; 
    left: 50%; 
    width: 500px;
    height: 500px;
}
.contact_logos{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: 1000;
}
.contact_logos1{
    position: absolute;
    top: 170px; 
    left: 16%; 
    width: 90px;
    height: 90px;
}
.contact_logos2{
    position: absolute; 
    top: 170px; 
    left: 41%; 
    width: 90px;
    height: 90px;
}
.contact_logos3{
    position: absolute;
    top: 170px; 
    left: 66%; 
    width: 90px;
    height: 90px;
}
.contact_logos4{
    position: absolute;
    top: 490px; 
    left: 16%; 
    width: 90px;
    height: 90px;
}
.contact_logos5{
    position: absolute; 
    top: 490px; 
    left: 41%; 
    width: 90px;
    height: 90px;
}
.contact_logos6{
    position: absolute; 
    top: 490px; 
    left: 66%; 
    width: 90px; 
    height: 90px;
}
.stars_contact{
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -3;
}
.star_contact1{
    position: absolute;
    top: 85px; 
    left: 10%; 
    width: 250px;
    height: 250px;
}
.star_contact2{
    position: absolute;
    top: 85px; 
    left: 35%; 
    width: 250px;
    height: 250px;
}.star_contact3{
    position: absolute; 
    top: 85px; 
    left: 60%; 
    width: 250px;
    height: 250px;
}.star_contact4{
    position: absolute;
    top: 400px; 
    left: 10%; 
    width: 250px;
    height: 250px;
}.star_contact5{
    position: absolute;
    top: 400px; 
    left: 35%; 
    width: 250px;
    height: 250px;
}.star_contact6{
    position: absolute;
    top: 400px; 
    left: 60%; 
    width: 250px;
    height: 250px; 
}
